

.addExcercise_view>div {
    height: 65vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    background: #F1F9FF 0% 0% no-repeat padding-box;
    border: 3px solid #A62639;
    justify-content: center;
    align-items: center;
    margin-left: 15vh;

}

form.add_Excercise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 30vw;
    height: 80%;
    background: #EDE6E3E6 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 3px solid #A62639;
    border-radius: 20px;
}

button {
    background: #A62639 0% 0% no-repeat padding-box;
    color:#EDE6E3;
    box-shadow: inset 0px 3px 6px #00000029;
    border-radius: 8px;
    width: 50%;
    border: none;
    line-height: 2.5em;
    margin: 1em;
}

label {
    text-align: left;
    font: normal normal normal 1em Segoe UI;
    letter-spacing: 0px;
    color: #030E12;
}
input,textarea {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    width: 80%;
    border: 1px solid #707070;
    border-radius: 10px;
    line-height: 2.5em;
}


@media only screen and (max-device-width: 420px) {

    .addExcercise_view>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0;
    }


}