section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    padding: 2em;
    overflow: auto;
}

.excersiceRequest>div>img {
    height: 60%;
    width: 100%;
    object-fit: cover;
}

.excersiceRequest>div>div {
    height: 40%;
    margin-top: 0.3em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: Segoe UI;
    text-align: center;
    letter-spacing: 0px;
    color: #030E12;
}

.excersiceRequest>div {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #F1F9FF 0% 0% no-repeat padding-box;
    border: 3px solid #A62639;
}

.excersiceRequest>div>div>a{
    text-decoration: none;
    display: inline-block;
    line-height: 3em;
}


@media only screen and (max-device-width:439px) {
    .logo {
        width: 100%;
    }

    section {
        display: grid;
        grid-template-columns: repeat(1, 200fr);
        grid-gap: 1em;
        padding: 1em;
        overflow: auto;
    }

    * {
        font-size: 40px;
    }

    .excersiceRequest>div>img {
    height: 60%;
    width: 80%;
    object-fit: cover;
}

.excersiceRequest>div>div {
    height: 40%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: Segoe UI;
    text-align: center;
    letter-spacing: 0px;
    color: #030E12;
}

.excersiceRequest>div {
    height: 25em;

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #F1F9FF 0% 0% no-repeat padding-box;
    border: 3px solid #A62639;
}



}


section.add_Excercise_form {

    display: flex;
    flex-direction: column;
    justify-content: center;

}

add_Excercise_form>form{
    display: flex;
    flex-direction: column;
}