.name{
    border-bottom: 2px solid #030E12;
}

.profile_view>div {
    height: 50vh;
    width: 60vw;
    display: flex;
    flex-direction: row;
    border-radius: 1em;
    background: #F1F9FF 0% 0% no-repeat padding-box;
    border: 3px solid #A62639;
    align-items: center;
    justify-content: space-around;
}

.profile_view>div>div {
    width: 30%;
    text-align: center;
    color:#030E12;
    font: normal normal 300 45px/43px Segoe UI;
}

@media only screen and (max-device-width: 420px) {

    .profile_view>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .profile_view>div>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}