body {
    margin: 0;
    background: #EDE6E3 0% 0% no-repeat padding-box;
    height: 100%;
    overflow: hidden;
}


button {
    background: #A62639 0% 0% no-repeat padding-box;
    color:#EDE6E3;
    box-shadow: inset 0px 3px 6px #00000029;
    border-radius: 8px;
    width: 10%;
    border: none;
    line-height: 2.5em;
    margin: 1em;
}

.head-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background: #EDE6E3 0% 0% no-repeat padding-box;
}

nav {
    width: 20vw;
    height: 100%;
     /*background-color: #A62639;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main {
    width: 80vw;
}

nav > img {
    width: 70%;
    margin: 2em auto;

}

a{
    text-decoration: none;
    display: inline-block;
    line-height: 3em;
}

.button {
    border-bottom: 1px solid black;
    margin-left: 1em;
    text-align: left;
    letter-spacing: 0.6px;
    color: #030E12E6;
    padding: 0.2em;
    width: 90%;
}

.button:hover {
    border-bottom: 3px solid black;
    font-weight: bold;
}

.profile_button {
    color: #030E12E6;
    letter-spacing: 0.1px;
}

.profile_button:hover {
    color: #030E12E6;
    font-weight: bold;
}

ul {
    list-style-type: none;
    font: normal normal 300 30px/33px Segoe UI;
    height: 100%;
    width: calc(100% - 40px);
    position: relative;
    margin: 0 auto;
    padding-top: 40%;
    padding-left: 0;
}

li {
    text-align: left;
    margin-bottom: 1em;
}


.exe_search{
    background: transparent;
    border: 0px;
    width: 85%;
}

.add{
    position: absolute;
    top: 25%;
    left:1em;
    height: 100%;

    padding: 0;
    font: normal normal 300 25px/33px Segoe UI;
}


.add>form>input{
    background: transparent;
    border: 0px;
    width: 87%;
}

.role{
    position: absolute;
    top: 33%;
    left:1em;
    height: 100%;

    padding: 0;
    font: normal normal 300 25px/33px Segoe UI;
}

.fa, .fas, .fa-solid {
    width: 1em;
    height: 2em;
}





::placeholder {
    opacity: 1;
    font: normal normal 300 25px/33px Segoe UI;
    color:#030E12;
  }


main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    padding: 1em 2em;
    /* position: absolute;
    right: 1em; */
    /* background-color: red; */
}

.profile{
    justify-content: right;
    position: relative;
    font: normal normal 300 30px/33px Segoe UI;
    color: #030E12E6;
    padding-left: 80%;

}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:3em;
    background:#A62639;
}



@media only screen and (max-device-width:439px) {

    .button {
        border: 1px solid black;
        text-align: center;
        margin-left: 1.5em;
        color: #030E12E6;
        width: 60%;
    }

    .button:hover {
        border: 3px solid black;
        font-weight: bold;
    }

    #footer {
        position:absolute;
        bottom:-10px;
        width:100%;
        height:2em;
        background:#A62639;
    }
    nav {
        width: 50vw;
        height: 100%;
        /*background-color: #A62639;*/
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    nav > img {
        width: 100%;
    }

    .exe_search{
        background: transparent;
        border: 0px;
        width: 60%;
    }

}

@media only screen and (max-device-width:950px) {
    .container {
        flex-direction: column;
    }

    body {
        margin: 0;
        background: #EDE6E3 0% 0% no-repeat padding-box;
        height: 100%;
        overflow: hidden;
    }

    * {
        font-size: 30px;
    }

    .login-container,
    .register-container,
    .logo {
        width: 100%;
    }

    form.login {
        margin:auto;
        width: 70%;
    }

    form.register {
        margin:auto;
        width: 90%;
    }
    img {
        height: 7em;
        margin: 2em;
    }


}