.container {
    width: 100vw;
    height: 100vh;
    background: #A62639 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.logo {
    height: 30%;
    text-align:center;
}

.login-container {
    height: 60%;
}


form.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 70%;
    background: #EDE6E3E6 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 20px;
}

.register-container {
    height: 80%;
}

form.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 90%;
    background: #EDE6E3E6 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 20px;
}

.no-valid {
    border: 2px solid red;
    border-radius: 10px;

}

button {
    background: #A62639 0% 0% no-repeat padding-box;
    color:#EDE6E3;
    box-shadow: inset 0px 3px 6px #00000029;
    border-radius: 8px;
    width: 50%;
    border: none;
    line-height: 2.5em;
    margin: 1em;
}

.button_register{
    background: #A62639 0% 0% no-repeat padding-box;
    color:#EDE6E3;
    box-shadow: inset 0px 3px 6px #00000029;
    border-radius: 8px;
    width: 40%;
    border: none;
    line-height: 2.5em;
    margin: 1em;
    text-align: center;
    font-family:Segoe UI;
}

label {
    text-align: left;
    font: normal normal normal 1em Segoe UI;
    letter-spacing: 0px;
    color: #030E12;
}
input,textarea {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    width: 50%;
    border: 1px solid #707070;
    border-radius: 10px;
    line-height: 2.5em;
}



@media only screen and (max-device-width:439px) {
    .container {
        flex-direction: column;
    }

    body {
        margin: 0;
        background: #EDE6E3 0% 0% no-repeat padding-box;
        height: 100%;
        overflow: hidden;
    }

    * {
        font-size: 40px;
    }

    .login-container,
    .register-container,
    .logo {
        width: 100%;
    }

    form.login {
        margin:auto;
        width: 70%;
    }

    form.register {
        margin:auto;
        width: 90%;
    }


}
